* {
    box-sizing: border-box;
}

body,
html {
    background-color: #2FA9C2;
    margin: 0px;
    font-family: 'Roboto', sans-serif;
    width: 100%;
    height: 100%;
}


/* Header/Navgbar */

nav {
    width: 100%;
    height: 68px;
    background-color: white;
    position: fixed;
    top: 0;
    left: 0;
}

nav #Header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding-top: 15px
}

#Header .contentLogo {
    display: flex;
    flex-direction: row;
}

.contentLogo .Logo {
    width: 159px;
    height: 33px;
    margin-top: -2px;
    cursor: pointer;
}

.contentLogo .Logo:hover {
    -webkit-transform: translateY(1000px);
    transform: translateY(1000px);
    -webkit-animation-duration: .10000s, 1000000s;
    animation-duration: .10000s, 1000000s;
    -webkit-animation-delay: 5000s, .10000s;
    animation-delay: 5000s, .10000s;
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
    -webkit-animation-name: hvr-bob-float, hvr-bob;
    animation-name: hvr-bob-float, hvr-bob;
    -webkit-animation-duration: .4s, 1.5s;
    animation-duration: .4s, 1.5s;
    -webkit-animation-delay: 0s, .4s;
    animation-delay: 0s, .4s;
    -webkit-animation-timing-function: ease-out, ease-in-out;
    animation-timing-function: ease-out, ease-in-out;
    -webkit-animation-iteration-count: 1, infinite;
    animation-iteration-count: 1, infinite;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    -webkit-animation-direction: normal, alternate;
    animation-direction: normal, alternate;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
}

@-webkit-keyframes hvr-bob {
    0% {
        -webkit-transform: translateY(-6px);
        transform: translateY(-6px);
    }
    50% {
        -webkit-transform: translateY(-3px);
        transform: translateY(-3px);
    }
    100% {
        -webkit-transform: translateY(-6px);
        transform: translateY(-6px);
    }
}

@keyframes hvr-bob {
    0% {
        -webkit-transform: translateY(-6px);
        transform: translateY(-6px);
    }
    50% {
        -webkit-transform: translateY(-3px);
        transform: translateY(-3px);
    }
    100% {
        -webkit-transform: translateY(-6px);
        transform: translateY(-6px);
    }
}

@-webkit-keyframes hvr-bob-float {
    100% {
        -webkit-transform: translateY(-6px);
        transform: translateY(-6px);
    }
}

@keyframes hvr-bob-float {
    100% {
        -webkit-transform: translateY(-6px);
        transform: translateY(-6px);
    }
}

.contentLogo #barra {
    width: 2px;
    height: 35px;
    background-color: #2FA9C2;
    margin-left: 22px
}

.contentLogo span {
    color: #2FA9C2;
    font-size: 25px;
    font-weight: bold;
    margin-left: 22px;
    cursor: default;
    padding-top: 2px;
}

.Menu {
    display: flex;
    flex-direction: row;
    margin-left: 35%
}

.Menu .RE {
    width: 36px;
    height: 36px;
    background-color: #B7B7B7;
    border-radius: 18px;
    color: #2FA9C2;
    font-size: 17px;
    font-weight: bold;
    text-align: center;
    padding-top: 8px;
    box-shadow: 1px 17px 44px -12px rgba(0, 0, 0, 0.51);
    cursor: pointer;
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: transform;
    transition-property: transform;
}

.Menu .RE:hover,
.Menu .RE:focus,
.Menu .RE:active {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}

.Menu .csharp {
    width: 36px;
    height: 36px;
    background-color: #B7B7B7;
    border-radius: 18px;
    color: white;
    font-size: 17px;
    font-weight: bold;
    text-align: center;
    padding-top: 8px;
    margin-left: 11px;
    box-shadow: 1px 17px 44px -12px rgba(0, 0, 0, 0.51);
    cursor: pointer;
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: transform;
    transition-property: transform;
}

.Menu .csharp:hover,
.Menu .csharp:focus,
.Menu .csharp:active {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}

.conteined {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
}


/*  contentViewResult  */

.contentViewResult {
    margin-top: 180px;
}

.contentViewResult .ViewResult {
    width: 910px;
    min-height: 150px;
    background-color: white;
    border-radius: 19px;
    margin: auto;
    display: block;
    margin-top: 15px;
}

.Result {
    width: 100%;
}

.codeBack {
    background-color: #282a36;
    width: 95;
    margin-top: 25px;
    margin-bottom: 25px;
    margin-left: 15px;
    border-radius: 5px;
    box-shadow: 2px 2px 8px rgba(31, 31, 31, 0.548);
}

.codeBackRef {
    background-color: #282a36;
    border-radius: 5px;
    padding-top: 1px;
    padding-left: 4px;
    padding-right: 4px;
    padding-bottom: 1px;
}

.codeBackRef:hover {
    background-color: #44475a;
}

.codeBack p:hover {
    background-color: #44475a;
    width: 100%;
    border-radius: 5px;
}

.codeBack .top {
    padding-top: 10px;
}

.codeBack .bottom {
    padding-bottom: 10px;
}

.Result .Name {
    font-size: 29px;
    font-weight: bold;
    color: #292929;
    text-align: left;
    padding-left: 15px;
    margin-top: 10px;
}

.Result .Info {
    font-size: 16px;
    font-weight: bold;
    color: #888888;
    text-align: left;
    padding-left: 15px;
    margin-top: -20px;
}

.Result .Exemplo {
    font-size: 16px;
    font-weight: bold;
    color: #4E4E4E;
    text-align: left;
    padding-left: 15px;
    margin-top: -12px;
}

.Result .Codigo {
    font-size: 16px;
    font-weight: bold;
    color: #f3c742;
    text-align: left;
    padding-left: 10px;
    margin-top: -10px;
}

.Result .CodigoOld {
    font-size: 16px;
    font-weight: bold;
    color: #9966CC;
    text-align: left;
    padding-left: 25px;
    margin-top: -10px;
}

.Result .Cond {
    font-size: 16px;
    font-weight: bold;
    color: #007FFF;
    text-align: left;
    padding-left: 25px;
    margin-top: -10px;
}

.Result .Warning {
    font-size: 16px;
    font-weight: bold;
    color: #4E4E4E;
    text-align: left;
    padding-left: 15px;
    margin-top: -12px;
}

.Result .Link {
    cursor: pointer;
    text-decoration: none;
    color: #2FA9C2;
}

.Result .LinkFunction {
    cursor: pointer;
    color: #9966CC;
    text-decoration: none;
}

.Result .Texto {
    color: #7BA05B;
    font-weight: 550;
}

.Result .Numero {
    color: #FFCBDB;
    font-weight: 550;
}

.Result .Booleano {
    color: #ED9121;
    font-weight: 550;
}

.Result .Comparador {
    color: #6272a4;
    font-weight: 550;
}

.Result .ExFunt {
    color: #a5a5a5;
    font-weight: 550;
}

.Result .sinais {
    color: white;
    font-weight: 550;
}

.Result .Variavel {
    color: #C9A0DC;
    font-weight: 550;
}

.Result .ComentarioCode {
    font-size: 16px;
    font-weight: bold;
    color: #6471c5;
    text-align: left;
}

.Result .Comentario {
    font-size: 16px;
    font-weight: bold;
    color: #a5a5a5;
    text-align: left;
    padding-left: 25px;
    margin-top: -10px;
}

.Result .Bold {
    color: #4E4E4E;
}

.Result .Type {
    font-size: 16px;
    font-weight: bold;
    color: #888888;
    text-align: left;
    padding-left: 15px;
    margin-top: -10px;
}

.Result .TypeQuebra {
    font-size: 16px;
    font-weight: bold;
    color: #888888;
    text-align: left;
    padding-left: 15px;
    margin-top: -8px;
}

.AjusteViewResult {
    display: flex;
    flex-direction: row;
}

.ActionView {
    display: flex;
    flex-direction: row;
    margin-top: 13px;
    margin-right: 13px;
    float: right;
    width: 40px;
    height: 40px;
}

.Share {
    width: 34px;
    height: 34px;
    font-size: 18px;
    border-radius: 16px;
    text-align: center;
    padding-top: 9px;
    background-color: #2FA9C2;
    color: white;
    margin-left: 5px;
    cursor: pointer;
}


/*  Menu Linguagem */

.MenuLinguagem {
    position: fixed;
    bottom: 0px;
    width: 100%;
    height: 60px;
    background-color: #6A6A6A;
    display: block;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.336);
    left: 0;
}

.FundoMenuLinguagem {
    width: 910px;
    height: 54px;
    border-radius: 27px;
    background-color: #6A6A6A;
    margin: auto;
    display: block;
}

.AjusteMenuLinguagem {
    display: flex;
    flex-direction: row;
}

.direitaMenuLinguagem {
    display: flex;
    flex-direction: row;
    width: 900px;
    margin-top: 8px;
}

.search_Input {
    float: left;
    width: 34px;
    height: 35px;
    border: none;
    border-radius: 18px;
    outline: none;
    font-size: 13px;
    padding-left: 13px;
    color: #3b3b3b;
    margin-left: 11px;
}

.search_Input::-webkit-input-placeholder {
    /* Edge */
    color: #2FA9C2;
    font-weight: bold;
}

.search_Input :-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: #2FA9C2;
    font-weight: bold;
}

.search_Input ::placeholder {
    color: #2FA9C2;
    font-weight: bold;
}

#lupa {
    float: left;
    width: 36px;
    height: 36px;
    border-radius: 18px;
    background-color: #2FA9C2;
    font-size: 17px;
    padding-top: 9px;
    text-align: center;
    color: white;
    cursor: pointer;
    margin: -0.5px 0px 0px -35px;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: transform;
    transition-property: transform;
}

#lupa:hover,
#lupa:focus {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}

#SearchController {
    display: none;
}

#SearchController:checked+.search_Input {
    width: 200px;
}

.esquerdaMenuLinguagem {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 8px;
    margin-right: 11px;
    float: right;
}

#CleanSearch {
    float: right;
    width: 36px;
    height: 36px;
    border-radius: 18px;
    background-color: #2FA9C2;
    font-size: 17px;
    padding-top: 9px;
    text-align: center;
    color: white;
    cursor: pointer;
    display: none;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: transform;
    transition-property: transform;
}

#CleanSearch:hover,
#CleanSearch:focus {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}

#barraDivision {
    width: 2px;
    height: 31px;
    background-color: #2FA9C2;
    margin-left: 8px;
    margin-right: 8px;
    display: none;
}

#DarkModeMobileMenu {
    float: right;
    width: 36px;
    height: 36px;
    border-radius: 18px;
    background-color: #212121;
    font-size: 17px;
    padding-top: 9px;
    text-align: center;
    color: white;
    cursor: pointer;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: transform;
    transition-property: transform;
}

#DarkModeMobileMenu:hover,
#DarkModeMobileMenu:focus {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}


/*  function Mobile Header*/

.AjusteCompatibilidade {
    width: 100%;
    height: 54px;
    margin-top: 95px;
    position: fixed;
    left: 0;
}

.MobileHeader {
    width: 910px;
    height: 54px;
    background-color: #6A6A6A;
    border-radius: 27px;
    margin: auto;
    display: block;
}

.AjusteMobileHeader {
    display: flex;
    flex-direction: row;
}

.DireitaMobileHeader {
    width: 900px;
    margin-left: 11px;
}

.DireitaMobileHeader .txtCentroMobileHeader {
    font-size: 20px;
    color: white;
    font-weight: bold;
    text-align: center;
    margin-left: 15%;
}

.EsquerdaMobileHeader {
    padding-top: 11px;
    margin-right: 11px;
}

.EsquerdaMobileHeader .btn_Tutoriais {
    width: 90px;
    height: 31px;
    background-color: #2FA9C2;
    color: white;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    border-radius: 18px;
    padding-top: 6px;
    cursor: pointer;
    float: right;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: transform;
    transition-property: transform;
}

.btn_Tutoriais:hover,
.btn_Tutoriais:focus {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}


/* Black Fundo */

#BlackFundo {
    display: block;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.952);
}

@media screen and (max-width: 920px) {
    /*  contentViewResult  */
    .contentViewResult .ViewResult {
        width: 794px;
        min-height: 150px;
        background-color: white;
        border-radius: 19px;
        margin: auto;
        display: block;
        margin-top: 15px;
    }
    /* Menu Function */
    .FundoMenuLinguagem {
        width: 794px;
        height: 54px;
        border-radius: 27px;
        background-color: #6A6A6A;
        margin: auto;
        display: block;
    }
    /*  function Mobile Header*/
    .AjusteCompatibilidade {
        width: 100%;
        height: 54px;
        margin-top: 95px;
        position: fixed;
        left: 0;
    }
    .MobileHeader {
        width: 794px;
        height: 54px;
        border-radius: 27px;
        margin: auto;
        display: block;
    }
    .DireitaMobileHeader .txtCentroMobileHeader {
        font-size: 20px;
        color: white;
        font-weight: bold;
        text-align: center;
        margin-left: 18%;
    }
}

@media screen and (max-width: 800px) {
    .FundoMenuLinguagem {
        width: 500px;
        height: 54px;
        border-radius: 27px;
        background-color: #6A6A6A;
        margin: auto;
        display: block;
    }
    /*  contentViewResult  */
    .contentViewResult .ViewResult {
        width: 500px;
        min-height: 150px;
        border-radius: 19px;
        margin: auto;
        display: block;
        margin-top: 15px;
    }
    /*  function Mobile Header*/
    .AjusteCompatibilidade {
        width: 100%;
        height: 54px;
        margin-top: 95px;
        position: fixed;
        left: 0;
    }
    .MobileHeader {
        width: 500px;
        height: 54px;
        border-radius: 27px;
        margin: auto;
        display: block;
    }
    .DireitaMobileHeader .txtCentroMobileHeader {
        font-size: 20px;
        color: white;
        font-weight: bold;
        text-align: center;
        margin-left: 0%;
        margin-top: 17px
    }
}

@media screen and (max-width: 600px) {
    /* Header/Navgbar */
    .Menu {
        display: flex;
        flex-direction: row;
        margin-left: 20%
    }
}

@media screen and (max-width: 500px) {
    /* Header/Navgbar */
    .contentLogo .Logo {
        width: 129px;
        display: block;
        cursor: pointer;
    }
    .contentLogo #barra {
        width: 2px;
        height: 30px;
        background-color: #2FA9C2;
        margin-left: 5px
    }
    .contentLogo span {
        color: #2FA9C2;
        font-size: 23px;
        font-weight: bold;
        margin-left: 5px;
        cursor: default;
        padding-top: 2px;
    }
    .Menu {
        display: flex;
        flex-direction: row;
        margin-left: 6%
    }
    /*  contentViewResult  */
    .contentViewResult .ViewResult {
        width: 350px;
        min-height: 150px;
        background-color: white;
        border-radius: 19px;
        margin: auto;
        display: block;
        margin-top: 15px;
    }
    .Result {
        width: 96%;
        margin-top: -40px
    }
    .AjusteViewResult {
        display: flex;
        flex-direction: column-reverse;
    }
    .ActionView {
        display: flex;
        flex-direction: row;
        margin-top: 6px;
        margin-right: 6px;
        margin-left: 305px;
        width: 40px;
        height: 40px;
        float: left;
    }
    /* Menu Function */
    .FundoMenuLinguagem {
        width: 350px;
        height: 54px;
        border-radius: 27px;
        background-color: #6A6A6A;
        margin: auto;
        display: block;
    }
    #SearchController:checked+.search_Input {
        width: 184px;
    }
    /*  function Mobile Header*/
    .AjusteCompatibilidade {
        width: 100%;
        height: 54px;
        margin-top: 95px;
        position: fixed;
        left: 0;
    }
    .MobileHeader {
        width: 350px;
        height: 54px;
        border-radius: 27px;
        margin: auto;
        display: block;
    }
    .DireitaMobileHeader .txtCentroMobileHeader {
        font-size: 14px;
        color: white;
        font-weight: bold;
        text-align: center;
    }
    .EsquerdaMobileHeader .btn_Tutoriais {
        width: 70px;
        height: 29px;
        background-color: #2FA9C2;
        color: white;
        font-size: 14px;
        font-weight: bold;
        text-align: center;
        border-radius: 18px;
        padding-top: 6px;
        cursor: pointer;
        float: right;
        vertical-align: middle;
        -webkit-transform: perspective(1px) translateZ(0);
        transform: perspective(1px) translateZ(0);
        box-shadow: 0 0 1px rgba(0, 0, 0, 0);
        -webkit-transition-duration: 0.3s;
        transition-duration: 0.3s;
        -webkit-transition-property: transform;
        transition-property: transform;
    }
}

@media screen and (max-width:350px) {
    /* Header/Navgbar */
    .contentLogo .Logo {
        width: 129px;
        display: block;
        cursor: pointer;
    }
    .contentLogo #barra {
        width: 2px;
        height: 30px;
        background-color: #2FA9C2;
        margin-left: 5px
    }
    .contentLogo span {
        color: #2FA9C2;
        font-size: 23px;
        font-weight: bold;
        margin-left: 5px;
        cursor: default;
        padding-top: 2px;
    }
    .Menu {
        display: flex;
        flex-direction: row;
        margin-left: 2%
    }
    /*  contentViewResult  */
    .contentViewResult .ViewResult {
        width: 300px;
        min-height: 150px;
        background-color: white;
        border-radius: 19px;
        margin: auto;
        display: block;
        margin-top: 15px;
    }
    .Result {
        width: 96%;
        margin-top: -40px
    }
    .AjusteViewResult {
        display: flex;
        flex-direction: column-reverse;
    }
    .ActionView {
        display: flex;
        flex-direction: row;
        margin-top: 6px;
        margin-right: 6px;
        margin-left: 255px;
        width: 40px;
        height: 40px;
        float: left;
    }
    .Result .Name {
        font-size: 25px;
        font-weight: bold;
        color: #292929;
        text-align: left;
        padding-left: 15px;
        margin-top: 10px;
    }
    /* Menu Function */
    .FundoMenuLinguagem {
        width: 300px;
        height: 54px;
        border-radius: 27px;
        background-color: #6A6A6A;
        margin: auto;
        display: block;
    }
    .search_Input {
        margin-left: 2px;
    }
    .direitaMenuLinguagem {
        margin-top: 9px;
        margin-left: 6px;
    }
    .esquerdaMenuLinguagem {
        margin-top: 9px;
        margin-right: 6px;
    }
    #SearchController:checked+.search_Input {
        width: 184px;
    }
    #barraDivision {
        width: 2px;
        height: 31px;
        background-color: #2FA9C2;
        margin-left: 5px;
        margin-right: 5px;
        display: none;
    }
    /*  function Mobile Header*/
    .AjusteCompatibilidade {
        width: 100%;
        height: 54px;
        margin-top: 95px;
        position: fixed;
        left: 0;
    }
    .MobileHeader {
        width: 300px;
        height: 54px;
        border-radius: 27px;
        margin: auto;
        display: block;
    }
    .DireitaMobileHeader .txtCentroMobileHeader {
        font-size: 14px;
        color: white;
        font-weight: bold;
        text-align: center;
        margin-top: 11px
    }
    .EsquerdaMobileHeader .btn_Tutoriais {
        width: 70px;
        height: 29px;
        background-color: #2FA9C2;
        color: white;
        font-size: 14px;
        font-weight: bold;
        text-align: center;
        border-radius: 18px;
        padding-top: 6px;
        cursor: pointer;
        float: right;
        vertical-align: middle;
        -webkit-transform: perspective(1px) translateZ(0);
        transform: perspective(1px) translateZ(0);
        box-shadow: 0 0 1px rgba(0, 0, 0, 0);
        -webkit-transition-duration: 0.3s;
        transition-duration: 0.3s;
        -webkit-transition-property: transform;
        transition-property: transform;
    }
}